{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  // "plugins": ["transform-runtime"],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]    }
  }
}

// {
//   "presets": [
//     [
//       "es2015",
//       {
//         "modules": false
//       }
//     ]
//   ],
//   "plugins": [
//     [
//       "component",
//       {
//         "libraryName": "element-ui",
//         "styleLibraryName": "theme-chalk"
//       }
//     ]
//   ]
// }